@using MvcBookStore.Models;
@*@using PagedList;
@using PagedList.Mvc;
@model PagedList.PagedList<SACH>*@

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<div class="container-fluid pt-5">
    <div class="text-center mb-4">
        <h2 class="section-title px-5"><span class="px-2">Tất cả sản phẩm</span></h2>
    </div>
    <div class="row px-xl-5 pb-3">
        @Html.Action("SanPhamPartial", "BookStore")
    </div>
</div>

 